<a href="https://colab.research.google.com/github/nataliaboaventura/microplastic/blob/main/Marine_Microplastics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://raw.githubusercontent.com/nataliaboaventura/microplastic/refs/heads/main/sea-2470908.jpg)
*Source: [Pixabay](https://pixabay.com/photos/sea-ocean-underwater-turtle-2470908/), Public Domain.*
#Exploring Microplastics in the Atlantic Ocean: Data Analysis and Insights
by *Natalia Boaventura*


The objective of this project is to explore Kaggle's dataset ["Marine Microplastics"](https://www.kaggle.com/datasets/william2020/marine-microplastics?resource=download&SSORegistrationToken=CfDJ8EnTcgNki7pNlcBNxcx19bsgzTpDM_RqiDGZsGaOUlZdCTG7WJ1TMWnQltiT6VmHxokRFTJPvsjF-6LWqziEnauehrYSXLbnZN-7B0yKPpUYeFrzWxHd02RBJ4C_U8bH6NOqB0WhJ6SXn3tul5yzqNUNOv9lcbqxzeXDLT7zNidLdz1N6QegQGQQxIKutTtiOkrWD1ZFOcVft4wrBRy3ujo3lPbjLkk-f_d4-C--L9sX50heY1qpEYm1jlj1Olfd-2UMCC4J4WX6OEJfNhblWEfutjVCsXUgEimrLWI4c1ZUXpjpeuOwhYWheuA1gpUFsek432taaBs5l5Fa4rjXBGH7zNlVuMafG9bPHydctAuuy_69kCU&DisplayName=Natalia). The Marine Microplastics database contains data on microplastic concentrations, collection locations, and sampling methods, aiming to improve water quality and protect coastal ecosystems.
Microplastics are a growing environmental concern, as they pose significant threats to marine life and ecosystems. By analyzing this dataset, the project aims to understand the distribution, sources, and impact of microplastics in the ocean. The exploration will involve cleaning and visualizing the data, identifying patterns, and possibly correlating the presence of microplastics with environmental factors such as water temperature, location, and pollution levels. The insights gained from this analysis could help in developing strategies for mitigating plastic pollution in the ocean.

In [ ]:
# Importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tabulate import tabulate

In [ ]:
# Importing the spreadsheet in CSV format
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQstzGfKjigSrlLtNzy9PDAHp5C4aLfSfpN61GyTB_0XVRgNHw37bZH4cMe69udb3fbJEXZR9fS1nx0/pub?output=csv"

# Reading the data and displaying the first rows
df = pd.read_csv(url)

# Displaying the initial records
print(tabulate(df.head(), headers='keys', tablefmt='psql'))

+----+------------+----------------+-----------+--------------+-------------------+---------------+-----------+-----------------+-----------------+----------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------+------------------------------------------------------------------------+-------------------------------------+--------------------+-----------------------------------------------------------------------------------------+------------+-------------+------------------------+--------------------------------------+----------------------+---------------------+
|    |   OBJECTID | Oceans         |   Regions |   SubRegions | Sampling Method   |   Measurement | Unit      | Density Range   | Density Class   | Short Reference      | Long Reference                                                                                                                                                                                                                                                                                                                               | DOI                                             | Organization                                                           | Keywords                            |   Accession Number | Accession Link                                                                          |   Latitude | Longitude   | Date                   | GlobalID                             | x                    | y                   |
|----+------------+----------------+-----------+--------------+-------------------+---------------+-----------+-----------------+-----------------+----------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------+------------------------------------------------------------------------+-------------------------------------+--------------------+-----------------------------------------------------------------------------------------+------------+-------------+------------------------+--------------------------------------+----------------------+---------------------|
|  0 |       9676 | Atlantic Ocean |       nan |          nan | Grab sample       |            18 | pieces/m3 | 0.005-1         | Medium          | Barrows et al.2018   | Barrows, A.P.W., S.E. Cathey, C.W. Petersen. 2018. Marine environment microfiber contamination: global patterns and the diversity of microparticle origins. Environ. Pollut. 237, 275?284                                                                                                                                                    | https://doi.org/10.1016/j.envpol.2018.02.062    | Adventure Scientist                                                    | Adventure Scientist/Citizen Science |             211009 | https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.nodc:211009  |    -31.696 | -48.56      | 8/11/2015 00:00:00     | a77121b2-e113-444e-82d9-7af11d62fdd2 | -485.599.999.999.999 | -31.696             |
|  1 |       6427 | Pacific Ocean  |       nan |          nan | Neuston net       |             0 | pieces/m3 | 0-0.0005        | Very Low        | Law et al.2014       | Law, K.L, S.K. Morét-Ferguson, D.S. Goodwin, E.R. Zettler, E. DeForce, T. Kukulka, et al. 2014. Distribution of surface plastic debris in the eastern Pacific Ocean from an 11-year data set. Environ Sci Technol. 48(9):4732–8.                                                                                                             | https://doi.org/10.1021/es4053076               | Sea Education Association                                              | SEA                                 |             211008 | https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.nodc:211008  |      6.35  | -121.85     | 12/18/2002 12:00:00 AM | be27c450-02ca-4261-8d89-cae21108e6cc | -121.85              | 635.000.000.000.002 |
|  2 |      10672 | Pacific Ocean  |       nan |          nan | Manta net         |            13 | pieces/m3 | 0.005-1         | Medium          | Goldstein et al.2013 | Goldstein, M.C., A.J. Titmus, M. Ford. 2013. Scales of Spatial Heterogeneity of Plastic Marine Debris in the Northeast Pacific Ocean. PLoS ONE 8(11): e80020.                                                                                                                                                                                | https://doi.org/10.1371/journal.pone.0080020    | Scripps Institution of Oceanography-University of California San Diego | Great Pacific Garbage Patch/SEAPLEX |             253448 | https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.nodc:0253448 |      0.5   | -95.35      | 10/17/2006 12:00:00 AM | 23effcdd-35b7-4e1e-adb4-390693a287d3 | -95.35               | 500.000.000.000.057 |
|  3 |      13921 | Atlantic Ocean |       nan |          nan | Aluminum bucket   |          1368 | pieces/m3 | >=10            | Very High       | Queiroz et al.2022   | Queiroz, A.F.dos S., A.S. da Conceição, D. Chelazzi, M. Rollnic, A. Cincinelli, T. Giarrizzo, J.E.M. Filho. 2022. First assessment of microplastic and artificial microfiber contamination in surface waters of the Amazon Continental Shelf. Science of The Total Environment, 839, 156259. https://doi.org/10.1016/j.scitotenv.2022.156259 | https://doi.org/10.1016/j.scitotenv.2022.156259 | Federal University of Pará, Brazil                                     | Amazon Continental Shelf            |             276482 | https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.nodc:276482  |    631.825 | -45.398.158 | 10/17/2018 12:00:00 AM | 16d77822-0533-4116-97b9-0bdb592f3d6e | -45.398.158          | 631.825.000.000.049 |
|  4 |       9344 | Pacific Ocean  |       nan |          nan | Grab sample       |             1 | pieces/m3 | 0.0005-0.005    | Low             | Barrows et al.2018   | Barrows, A.P.W., S.E. Cathey, C.W. Petersen. 2018. Marine environment microfiber contamination: global patterns and the diversity of microparticle origins. Environ. Pollut. 237, 275?284                                                                                                                                                    | https://doi.org/10.1016/j.envpol.2018.02.062    | Adventure Scientist                                                    | Adventure Scientist/Citizen Science |             211009 | https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.nodc:211009  |     16.623 | -996.978    | 1/3/2015 00:00:00      | b9e435e3-9e86-4143-8b51-877e5dcdc7a6 | -996.978             | 16.623              |
+----+------------+----------------+-----------+--------------+-------------------+---------------+-----------+-----------------+-----------------+----------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------+------------------------------------------------------------------------+-------------------------------------+--------------------+-----------------------------------------------------------------------------------------+------------+-------------+------------------------+--------------------------------------+----------------------+---------------------+

In [ ]:
# Overview of the DataFrame's general information

# Summary data for the dataset analysis
summary_data = [
    ["Total Rows", f"{df.shape[0]:,}"],  # Total number of rows in the dataset
    ["Total Columns", f"{df.shape[1]:,}"],  # Total number of columns in the dataset
    ["Missing Values", f"{df.isna().sum().sum():,}"],  # Total count of missing values
    ["Duplicated Rows", f"{df.duplicated().sum():,}"],  # Number of duplicated rows
    ["Duplicated Columns", f"{df.columns.duplicated().sum():,}"],  # Number of duplicated columns
]

# Display the dataset overview as a table
print("Dataset Overview:")  # Header for dataset overview section
print(tabulate(summary_data, headers=["Metric", "Value"], tablefmt="pretty"))  # Display table with metrics
print("\n")

# Display detailed information about the dataset
print("Dataset Information:")  # Header for dataset information section
df.info()  # Print the DataFrame's info including column types and memory usage
print("\n")

# Display missing values per column as a table
print("Missing Values per Column:")  # Header for missing values section
print(
    tabulate(
        df.isnull().sum().reset_index().values,
        headers=["Column", "Missing Values"],  # Table headers
        tablefmt="pretty",  # Format for a visually appealing table
    )
)

Dataset Overview:
+--------------------+--------+
|       Metric       | Value  |
+--------------------+--------+
|     Total Rows     | 20,425 |
|   Total Columns    |   26   |
|   Missing Values   | 79,904 |
|  Duplicated Rows   |   0    |
| Duplicated Columns |   0    |
+--------------------+--------+


Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20425 entries, 0 to 20424
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OBJECTID          20425 non-null  int64
 1   Oceans            20154 non-null  object
 2   Regions           8885 non-null   object
 3   SubRegions        1307 non-null   object
 4   Sampling Method   20425 non-null  object
 5   Measurement       13335 non-null  float64
 6   Unit              20425 non-null  object
 7   Density Range     20425 non-null  object
 8   Density Class     20425 non-null  object
 9   Short Reference   20425 non-null  object
 10  Long Reference    20425 non-null  object
 11  DOI               20425 non-null  object
 12  Organization      20425 non-null  object
 13  Keywords          20407 non-null  object
 14  Accession Number  20425 non-null  int64
 15  Accession Link    20425 non-null  object
 16  Latitude          20425 non-null  object
 17  Longitude         20425 non-null  object
 18  Date              20425 non-null  object
 19  GlobalID          20425 non-null  object
 20  x                 20425 non-null  object
 21  y                 20425 non-null  object
 22  Lower_Density     19866 non-null  float64
 23  Upper_Density     18849 non-null  float64
 24  Operator          559 non-null    object
 25  Replicated_Value  559 non-null    float64
dtypes: float64(4), int64(2), object(20)
memory usage: 4.1+ MB


Missing Values per Column:
+------------------+----------------+
|      Column      | Missing Values |
+------------------+----------------+
|     OBJECTID     |       0        |
|      Oceans      |      271       |
|     Regions      |     11540      |
|    SubRegions    |     19118      |
| Sampling Method  |       0        |
|   Measurement    |      7090      |
|       Unit       |       0        |
|  Density Range   |       0        |
|  Density Class   |       0        |
| Short Reference  |       0        |
|  Long Reference  |       0        |
|       DOI        |       0        |
|   Organization   |       0        |
|     Keywords     |       18       |
| Accession Number |       0        |
|  Accession Link  |       0        |
|     Latitude     |       0        |
|    Longitude     |       0        |
|       Date       |       0        |
|     GlobalID     |       0        |
|        x         |       0        |
|        y         |       0        |
|  Lower_Density   |      559       |
|  Upper_Density   |      1576      |
|     Operator     |     19866      |
| Replicated_Value |     19866      |
+------------------+----------------+

Exploring numeric data

In [ ]:
# Understanding the "Measurement" column
print(df['Measurement'].describe())
measurement_counts = df['Measurement'].value_counts().reset_index()
measurement_counts.columns = ['Measurement', 'Count']
print(tabulate(measurement_counts.head(20), headers='keys', tablefmt='psql'))

count     14613
unique     4579
top           0
freq       4610
Name: Measurement, dtype: object
+----+---------------+---------+
|    | Measurement   |   Count |
|----+---------------+---------|
|  0 | 0             |    4610 |
|  1 | 216           |     640 |
|  2 | 432           |     371 |
|  3 | 648           |     232 |
|  4 | 108           |     205 |
|  5 | 864           |     200 |
|  6 | 1             |     146 |
|  7 | 2             |     112 |
|  8 | 3             |      99 |
|  9 | 1.728         |      97 |
| 10 | 1.296         |      93 |
| 11 | 4             |      83 |
| 12 | 1.410.437.236 |      82 |
| 13 | 1.512         |      80 |
| 14 | 43.196        |      75 |
| 15 | 6             |      69 |
| 16 | 72            |      68 |
| 17 | 5             |      65 |
| 18 | 1.944         |      61 |
| 19 | 24            |      58 |
+----+---------------+---------+

In [ ]:
# Convertendo a coluna 'Measurement' para numérico e sobrescrevendo
df['Measurement'] = pd.to_numeric(df['Measurement'], errors='coerce')

In [ ]:
# Detailed analysis of the "Density Range" column

print(f"{df['Density Range'].describe()}")
density_range_counts = df['Density Range'].value_counts().reset_index()
density_range_counts.columns = ['Density Range', 'Count']
print(tabulate(density_range_counts, headers='keys', tablefmt='psql'))

count       20425
unique         18
top       0.005-1
freq         6136
Name: Density Range, dtype: object
+----+-----------------+---------+
|    | Density Range   |   Count |
|----+-----------------+---------|
|  0 | 0.005-1         |    6136 |
|  1 | 0-0.0005        |    4485 |
|  2 | 2-40            |    2901 |
|  3 | 0.0005-0.005    |    1838 |
|  4 | 40-200          |    1346 |
|  5 | 1-10            |    1128 |
|  6 | 0               |    1017 |
|  7 | 1-2             |     403 |
|  8 | 500-30000       |     325 |
|  9 | >=10            |     313 |
| 10 | >200            |     233 |
| 11 | 20-150          |     102 |
| 12 | 0-100           |      97 |
| 13 | 0-2             |      41 |
| 14 | 2-20            |      36 |
| 15 | >40000          |      13 |
| 16 | 150-200         |       8 |
| 17 | 30000-40000     |       3 |
+----+-----------------+---------+

In [ ]:
# The "Density" column has dtype object, resolving this issue
# Identifying and categorizing operators

def identify_operator(value):
    if pd.isna(value):
        return None  # Returning None for NaN values
    if '>=' in value:
        return 'lower or equal'
    elif '>' in value:
        return 'upper'
    elif '<' in value:
        return 'lower'
    else:
        return None

# Função para replicar apenas o número quando houver operador
def extract_numeric(value):
    if pd.isna(value):
        return None # Retorna None para valores NaN
    for op in ['>=', '>', '<']:
        if op in value:
            try:
                return float(value.replace(op, '').strip()) # Converte para numérico
            except ValueError:
                return None # Retorna None se a conversão falhar
    return None

# Função para limpar os valores, removendo operadores
def clean_value(value):
    if pd.isna(value):
        return None # Retorna None para valores NaN
    if any(op in value for op in ['>=', '>', '<']):
        return None
    try:
        return float(value.strip()) # Converte para numérico
    except ValueError:
        return None # Retorna None se a conversão falhar

# Dividir a coluna 'Density Range' em Lower_Density e Upper_Density
df[['Lower_Density', 'Upper_Density']] = df['Density Range'].str.split('-', expand=True)

# Limpar e converter para numérico as colunas Lower_Density e Upper_Density
df['Lower_Density'] = df['Lower_Density'].apply(clean_value)
df['Upper_Density'] = df['Upper_Density'].apply(clean_value)


# Identificar operadores e replicar valores numéricos para Replicated_Value
df['Operator'] = df['Density Range'].apply(identify_operator)
df['Replicated_Value'] = df['Density Range'].apply(extract_numeric)


# Exibir os resultados
print(tabulate(df[['Density Range', 'Lower_Density', 'Upper_Density', 'Operator', 'Replicated_Value']].head(10), headers='keys', tablefmt='psql'))

+----+-----------------+-----------------+-----------------+----------------+--------------------+
|    | Density Range   |   Lower_Density |   Upper_Density | Operator       |   Replicated_Value |
|----+-----------------+-----------------+-----------------+----------------+--------------------|
|  0 | 0.005-1         |          0.005  |          1      |                |                nan |
|  1 | 0-0.0005        |          0      |          0.0005 |                |                nan |
|  2 | 0.005-1         |          0.005  |          1      |                |                nan |
|  3 | >=10            |        nan      |        nan      | lower or equal |                 10 |
|  4 | 0.0005-0.005    |          0.0005 |          0.005  |                |                nan |
|  5 | 0-0.0005        |          0      |          0.0005 |                |                nan |
|  6 | 0.005-1         |          0.005  |          1      |                |                nan |
|  7 | 0.005-1         |          0.005  |          1      |                |                nan |
|  8 | 1-10            |          1      |         10      |                |                nan |
|  9 | 0.0005-0.005    |          0.0005 |          0.005  |                |                nan |
+----+-----------------+-----------------+-----------------+----------------+--------------------+

In [ ]:
# Convertendo Lower_Density, Upper_Density e Replicated_Value para numérico, sobrescrevendo as colunas existentes.
df['Lower_Density'] = pd.to_numeric(df['Lower_Density'], errors='coerce')
df['Upper_Density'] = pd.to_numeric(df['Upper_Density'], errors='coerce')
df['Replicated_Value'] = pd.to_numeric(df['Replicated_Value'], errors='coerce')

# Exibindo as primeiras linhas do DataFrame com as colunas convertidas
print(tabulate(df[['Density Range', 'Lower_Density', 'Upper_Density', 'Operator', 'Replicated_Value']].head(10), headers='keys', tablefmt='psql'))

+----+-----------------+-----------------+-----------------+----------------+--------------------+
|    | Density Range   |   Lower_Density |   Upper_Density | Operator       |   Replicated_Value |
|----+-----------------+-----------------+-----------------+----------------+--------------------|
|  0 | 0.005-1         |          0.005  |          1      |                |                nan |
|  1 | 0-0.0005        |          0      |          0.0005 |                |                nan |
|  2 | 0.005-1         |          0.005  |          1      |                |                nan |
|  3 | >=10            |        nan      |        nan      | lower or equal |                 10 |
|  4 | 0.0005-0.005    |          0.0005 |          0.005  |                |                nan |
|  5 | 0-0.0005        |          0      |          0.0005 |                |                nan |
|  6 | 0.005-1         |          0.005  |          1      |                |                nan |
|  7 | 0.005-1         |          0.005  |          1      |                |                nan |
|  8 | 1-10            |          1      |         10      |                |                nan |
|  9 | 0.0005-0.005    |          0.0005 |          0.005  |                |                nan |
+----+-----------------+-----------------+-----------------+----------------+--------------------+

In [ ]:
#formating data column